html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

body,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  height: 10vh;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid hsl(220, 14%, 75%);
}

.headerLeft,
.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 1.25rem;
}
nav ul li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  transition: all 0.25s;
}
nav ul li a:hover {
  color: hsl(26, 100%, 55%);
}

.cartItemNumber {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 10px;
}

.headerRight {
  position: relative;
}

.cart {
  cursor: pointer;
}

.avatar {
  width: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: border 0.25s;
}
.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 1.25rem;
}

.cartReview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
  height: 30vh;
  position: fixed;
  top: 9vh;
  left: 100%;
  z-index: 100;
  transition: 0.5s ease-in-out;
  padding-bottom: 1rem;
}
.cartReview .yourCart {
  width: 100%;
  text-align: left;
  padding: 1rem;
  font-weight: 700;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cartReview.activated {
  left: 75%;
}

.checkoutBtn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  width: 90%;
  border: none;
  padding: 1rem 0;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-align: center;
}

main {
  height: 85vh;
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer,
.textContainer {
  width: 45%;
  padding: 4rem;
}

.imageContainer img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.thumbnailContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.thumbnailContainer img {
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.thumbnailContainer img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 0.6;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

h2 {
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.productDescription {
  color: hsl(219, 9%, 45%);
  padding: 1.5rem 0;
  line-height: 1.75rem;
}

.discountedPrice {
  display: flex;
  align-items: center;
}

.priceAfterDiscount {
  font-size: 1.5rem;
  font-weight: 700;
}

.promo {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-left: 0.75rem;
}

.originalPrice {
  color: hsl(220, 14%, 75%);
  font-weight: 500;
  text-decoration: line-through;
  padding-top: 0.5rem;
}

.shoppingBtns {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.qtyBtns {
  display: flex;
  border: none;
  align-items: center;
  font-size: 1.15rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.minusBtn,
.plusBtn {
  color: hsl(26, 100%, 55%);
  background-color: hsl(223, 64%, 98%);
  font-size: 1.15rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s;
}
.minusBtn:hover,
.plusBtn:hover {
  color: rgb(255, 169, 48);
}

.minusBtn {
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.plusBtn {
  padding: 0.8rem 1rem 0.8rem 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.qty {
  padding: 0.8rem 1rem;
  background-color: hsl(223, 64%, 98%);
}

.addToCartBtn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  border: none;
  width: 55%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 0 2px hsl(26, 100%, 55%);
  transition: all 0.25s;
}
.addToCartBtn:hover {
  background-color: rgb(255, 169, 48);
}

.addToCartCart {
  stroke: white;
  width: 1rem;
  margin-right: 1rem;
}

footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  background-color: hsl(25, 100%, 94%);
  color: hsl(219, 9%, 45%);
}
footer a {
  color: hsl(26, 100%, 55%);
  text-decoration: none;
}